{% extends "base.html" %}

{% load static %}

{% block js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="{% static 'lists/js/lists.js' %}"></script>
{% endblock %}

{% block body %}
<section class="header">
  <div class="row">
    <div class="three columns value-prop"></div>
    <div class="six columns">
      <div class="title">{{todolist.title}}</div>
      <form action="{% url 'lists:add_todo' todolist.id %}" method=post>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class="row">
      <div class="one-half column open-todos">
        <h6 class="docs-header open-todos">{{ todolist.count_open }} open</h6>
        <ul id="open-tasks">
          {% for todo in todolist.todos.all %}
            {% if not todo.is_finished %}
              <li id="{{ todo.id }}-{{ todo.position }}" class="ui-state-default item-todos active-item"><input type="checkbox" id="checkbox-{{ todo.id }}" data-todo-id="{{ todo.id }}"> {{ todo.description }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="one-half column finished-todos">
        <h6 class="docs-header finished-todos">{{ todolist.count_finished }} finished</h6>
        <ul id="finished-tasks">
          {% for todo in todolist.todos.all %}
            {% if todo.is_finished %}
            <li id="{{ todo.id }}-{{ todo.position }}" class="ui-state-default item-todos"><input type="checkbox" id="checkbox-{{ todo.id }}" data-todo-id="{{ todo.id }}" checked="checked"> {{ todo.description }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <script>
    
    var todolist = '{{ todolist.id }}'
    const path = 'ws://' + window.location.host + '/ws/todolist/'+ todolist + '/'
    var socket = new WebSocket(path);

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function (e) {
        location.reload()
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
</section>
{% endblock %}

{% block script %}
{% endblock script %}
